* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(../font/Myriad.otf);
  font-family: Myriad;
}

body {
  font-family: Myriad;
  background: rgb(26, 24, 24);
}

::placeholder {
  color: rgb(189, 159, 159);
  font-size: 0.8em;
}

/* @keyframes colorBackground {
    0% {
        background-color: rgb(97, 97, 97);
        color: rgb(136, 5, 5);
    }
    50% {
        background-color: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
    }
} */

@keyframes lycfbaynhay {
  0% {
    transform: translateY(-5vh);
  }
  50% {
    transform: translateY(-20vh);
  }
  100% {
    transform: translateY(-5vh);
  }
}

:root {
  --main-color: #a3704d;
}

.app {
  position: relative;
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
}

.audio-beat {
  display: none;
}

.taskbar {
  width: 5.625em;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taskbar-all {
  width: 100%;
  height: 7%;
  margin: 2% 0;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: auto;
}

.taskbar-up {
}

.taskbar-pre {
  color: rgb(255, 255, 255, 0.5);
}

.taskbar-now {
  color: rgb(255, 255, 255);
}

.taskbar-next {
  color: rgb(255, 255, 255, 0.5);
}

.taskbar-down {
  /* padding-bottom: 2%; */
}

.header {
  width: calc(100% -2em);
  height: 5.625em;
  display: flex;
  margin-top: 2em;
}

.header__logo {
  width: 16%;
  height: 5.625em;
  text-align: center;
}

.header__img-logo {
  max-width: 5em;
  width: 100%;
  height: auto;
}

.s-menu {
  width: 20%;
  height: auto;
  display: none;
}

.s-icon-menu {
  font-size: 4em;
  color: var(--main-color);
  display: none;
}

.header__menu {
  padding-left: 1em;
  /* display: flex; */
  height: 5.625em;
  /* width: 68%; */
  /* flex-wrap: wrap-reverse; */
}

.div-menu {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  width: 100%;
  display: inline;
}

.nav > li {
  display: inline;
  color: var(--main-color);
}

.nav > li > a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 2rem;
  padding: 0 15px;
  font-weight: 300;
}

.nav > li > a:hover {
  text-decoration: underline;
}

.header__search {
  height: 5.625em;
  text-align: right;
  flex: 1;
  justify-self: end;
}

.input-search {
  width: 70%;
  height: auto;
  padding: 0.5em;
  border-radius: 15px;
  text-align: center;
  background: var(--main-color);
  color: #fff;
  display: none;
}

.img-search {
  width: 2em;
  height: auto;
  cursor: pointer;
}

.input-search .active {
  display: block;
}

.home {
  padding-top: 3em;
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  /* height: calc(80vh); */
}

.home__about {
  width: 50%;
  padding-left: 4em;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.brand-name {
  color: white;
  font-size: 5em;
  font-weight: 200;
}

.brand-title {
  color: white;
  font-size: 1em;
  line-height: 1.6;
}

.div-btn-sign {
  width: 100%;
  height: auto;
  /* display: flex; */
  margin-top: 5em;
  padding-left: 5em;
}

#btn-signup {
  border-radius: 0.75em;
  height: 2em;
  font-size: 1.3em;
  width: 9em;
  border: 2px solid;
  text-transform: uppercase;
  font-weight: 800;
}

#btn-signup:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#btn-signin {
  background: #000;
  color: #fff;
  border-radius: 0.75em;
  height: 2em;
  font-size: 1.3em;
  width: 9em;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid;
  margin-left: 6%;
}

#btn-signin:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.home__banner {
  width: 50%;
  text-align: center;
  flex: 2;
  /* animation: colorBackground 15s infinite;
  -webkit-animation: colorBackground 15s infinite;
  -moz-animation: colorBackground 15s infinite;
  -o-animation: colorBackground 15s infinite; */
}

.img-lycf {
  height: auto;
  max-width: 100%;
  /* animation: lycfbaynhay 5s infinite; */
}
/* ----------------- */
/* Start LOGIN */

.modal-signin {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-signin.open {
  display: flex;
}

.modal-signin-container {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 30em;
  max-width: calc(100% - 64px);
  min-height: 80vh;
  position: relative;
  border-radius: 20px;
  padding: 10px;
}

.heading-signin,
.heading-signin {
  width: 100%;
  height: calc(25vh);
}

.logo-signin,
.logo-signup {
  height: 5em;
  width: auto;
}

.title-signin,
.title-signup {
  font-size: 2em;
}

.title-mini-signin {
}

.title-logo-signin,
.title-logo-signup {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--main-color);
}

.form-signin {
  width: 100%;
  height: calc(55vh);
  display: flex;
  flex-direction: column;
}

.label-email-signin,
.label-password-signin {
  align-self: flex-start;
  font-size: 1.2em;
  margin-top: 12px;
  padding-left: 20px;
}

.reset-pass {
  align-self: flex-start;
  padding-left: 20px;
}

.input-email-signin,
.input-password-signin,
.btn-login-signin {
  height: 3em;
  border: 1px solid #000;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 1em;
}

.btn-login-signin {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(40, 0, 151);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.btn-login-signin:hover {
  opacity: 0.8;
}

.signup-withfb,
.signup-withgg {
  margin-top: 20px;
  align-self: center;
  height: 2.5em;
  width: 50%;
  min-width: 12em;
  border: 1px solid #000;
  border-radius: 30px;
  line-height: 2.5em;
  cursor: pointer;
  width: 100%;
}

.signup-withfb {
}

.close-signin {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* ---------------------- */
/* EndLogin */
/* --------------------- */
/* Start SignUp */

.modal-signup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-signup.open {
  display: flex;
}

.modal-signup-container {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 42.5em;
  max-width: calc(100% - 32px);
  min-height: 46em;
  position: relative;
  border-radius: 20px;
  padding: 10px;
}

.form-signup {
  width: 100%;
  height: calc(55vh);
  display: flex;
  flex-direction: column;
}

.info-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.username-signup,
.birth-signup {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.birth-signup {
  margin-left: 1em;
}

.label-email-signup,
.label-username-signup,
.label-birth-signup,
.label-password-signup,
.label-password-signup {
  align-self: flex-start;
  font-size: 1.2em;
  margin-top: 12px;
  padding-left: 20px;
}

.input-email-signup,
.input-username,
.input-birth-signup,
.input-password-signup,
.input-password-signup,
.btn-login-signup {
  border: 1px solid #000;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 1.8em;
}

.rules-signup {
}

.btn-login-signup {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(40, 0, 151);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.btn-login-signup .btn-login-signin:hover {
  opacity: 0.8;
}

.close-signup {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* End SignUp */

.menu-hide {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  display: none;
}

.menu-hide.open {
  display: flex;
}

.menu-hide-container {
  background-color: rgba(0, 0, 0);
  width: 8em;
  height: 100%;
  display: block;
  position: relative;
}

.nav-s-menu {
  display: block;
  margin-top: 2em;
}

.nav-s-menu > li {
  margin-top: 1em;
}

.nav-s-menu > li > a {
  color: var(--main-color);
  font-size: 2em;
  text-decoration: unset;
  margin: 0.5em;
  border-bottom: 1px solid var(--main-color);
  padding: 10px 0;
}

.i-close-menu {
  color: var(--main-color);
  position: fixed;
  z-index: 1;
  font-size: 2em;
  top: 0;
  right: 4em;
}

.home-product {
  width: 100%;
  background-color: var(--main-color);
}
.color {
  background-color: rgb(106, 177, 84);
}
.contact {
  height: 100vh;
  width: auto;
  background-color: #fff;
}

.footer {
  background-color: cadetblue;
  height: 10em;
}
/* ProducItem */
.home-product {
  margin-bottom: 50px;
}

.home-product-item {
  display: block;
  background-color: orange;
  margin-top: 10px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 2px;
  transition: transform linear 0.1s;
  will-change: transform;
}

.home-product-item:hover {
  box-shadow: 0 0 5px;
  transform: translateY(-2px);
}

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 3px;
}

.home-product-item__content {
  padding: 15px 5px;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
}

.home-product-item__price-old {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

.home-product-item__price-current {
  color: var(--main-color);
  margin-left: 10px;
  font-weight: 600;
}

.home-product-item__action {
  display: flex;
  justify-content: space-between;
}

.home-product-item__like {
}

.home-product-item__liked {
}

.home-product-item__like-icon-empty {
}

i.home-product-item__like-icon-fill {
  color: var(--main-color);
  display: none;
}

.home-product-item__liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__rating {
  transform: scale(0.8);
  transform-origin: right;
}

.home-product-item__star--gold {
  color: var(--star-gold-color);
}

.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
}

.home-product-item__brand {
}

.home-product-item__origin-name {
}

.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--main-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
  content: "";
  display: block;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  bottom: -3px;
  position: absolute;
  filter: brightness(60%);
}

.home-product-item__favourite span {
  color: var(--white-color);
  font-weight: bold;
}

.home-product-item__favourite i {
  font-size: 1rem;
  color: var(--white-color);
  margin: 0 3px 0 5px;
}

.home-product-item__sale-off {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 50px;
  background-color: rgba(255, 212, 36, 0.6);
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.4rem;
}

.home-product-item__sale-off::after {
  content: "";
  display: block;
  border-width: 0 20px 6px;
  border-color: transparent rgba(255, 212, 36, 0.6);
  border-style: solid;
  position: absolute;
  bottom: -6px;
}

.home-product-item__sale-off-percent {
  color: var(--main-color);
  font-weight: 600;
}

.home-product-item__sale-off-label {
  font-weight: bold;
  color: var(--white-color);
  font-size: 0.8rem;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
  color: red;
  text-align: left;
}
